#app {
    width: 100%;
}
.container {
    width: 1024px;
    margin: auto;
}
.layout-single {
    display:block;
    font-family: sans-serif;
}
.layout-double {
    display: grid;
    grid-template-rows: 0.8fr 0.2fr;
    grid-template-columns: 1fr 300px;
    grid-gap: 2vw;
    font-family: sans-serif;
}
header {
    color: gray;
    border-bottom: solid 1px gray;
    width: 1024px;
    margin: auto;
    padding-bottom: 5px;
}
#logo {
    font-weight: bold;
    font-size: 24pt;
}
.search-field {
    float: right;
    width: 300px;
}
.search-field input {
    width: 300px;
}
footer {
    color: gray;
    border-top: solid 1px gray;
    width: 1024px;
    margin: auto;
}
.page-title {

}
.page-subtitle {
    font-size: small;
    margin-top: -20px;
}
.main-name {
    font-weight: bold;
    margin-bottom: 25px;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: lightgray;
}
.main-name .personal-value {
    font-weight: bold;
    color: gray;
}
.main-name .main-user-status {
    font-weight: normal;
    font-size: small;
}
.main-avatar img {
    margin-top: 15px;
    max-width: 300px;
}
.personal-name {
    font-weight: normal;
    font-size: small;
}
.personal-value {
    font-weight: normal;
    font-size: small;
}
.post-date {
    font-size: small;
}
.post-avatar {
    float: left;
    margin-right: 15px;
}
.post-avatar img {
    max-width: 75px;
}
.comment-avatar {
    float: left;
    margin-right: 15px;
}
.comment-avatar img {
    max-width: 75px;
}
.comment-date {
    font-size: small;
}
a.active {
    text-decoration: none;
    font-weight: bold;
    color: gray;
}
a.inactive {
    text-decoration: none;
    font-weight: normal;
    color: black;
}
.news-item {
    border-bottom: 10px solid lightgray;
    margin: 20px 0px;
}
.images-box {
    margin-top: 15px;
    background-color: gray;
    margin-bottom: 0px;
    clear: both;
}
.images-box img {
    float: left;
    max-width: 200px;
    margin: 5px;
    border: 2px solid green;
}
.comments {
    clear: both;
}
.comment-item {
    border-top: solid 1px gray;
    padding: 8px 0px;
    clear: both;
}
.item-date {
    float: letf;
}
.nav-item {
    display: block;
    margin: 3px 0px;
    padding: 5px;
    border-left: solid 1px gray;
}
.person-item {
    margin: 0px;
}
.popup-wrapper {
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    top: 0;
    left: 0;
    opacity: 0.9;
}
.popup-item {
    background-color: white;
    width: 1024px;
    margin: auto;
    border-radius: 5px;
    border-width: 1px;
    border-color: lightgray;
    padding: 5px 25px;
    position:relative;
    top: 100px;
    opacity: 1.0;
}
.popup-close {
    float: right;
    padding: 2px;
    cursor: pointer;
}
